/*Esercizio 1*/

.ex-1-square {
    background-color: #F5F5F5;
}

.ex-1-square:hover {
    background-color: red; 
    transition: 2s linear;
}

/*Esercizio 2*/

.ex-2-square:active {
    width: 100%;
    transition: 2s;
}

/*Esercizio 3*/

.ex-3-square:hover {
    border-radius: 50%;
    transition: 1s;
}

/*Esercizio 4*/
.ex-4-square:hover {
    opacity: 0;
    transition: 2s;
}

/*Esercizio 5*/

.ex-5-square:hover {
    transform: scale(1.5);
    transition: 1s;
}

.ex-5-square:active {
    transform: scale(0.5);
    transition: 1s;
}

/*Esercizio 6*/

.ex-6-img:hover {
    filter: grayscale(1);
}

/*Esercizio 7*/

.ex-7-img:hover {
    filter: sepia(1) grayscale(0.1);
    transition: 1s;
}

/*Esercizio 8*/

.ex-8-img:hover {
    filter: sepia(1) grayscale(0.1);
    border-radius: 20px;
    transition: 1.5s;
}

/*Esercizio 9*/

.ex-9-img:hover {
    filter: sepia(1) grayscale(0.1);
    border-radius: 20px;
    transition: 2s;
    transform: scale(1.5);
}

/*Esercizio 10*/

.ex-10-icon {
    animation-name: spin ;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*Esercizio 11*/

.ex-11-icon:hover {
    animation-name: spin260 ;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes spin260 {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(300deg);}
    100% {transform: rotate(0deg);}
}

/*Esercizio 12*/

.ex-12-button:hover .ex-12-top-white {
    animation-name: leftoright ;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: rightoleft;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes leftoright{
    0% {left: 10%;}
    75% {left: 85%;}
    100% {left: 10%;}
}

@keyframes rightoleft{
    0% {right: 20%;}
    75% {right: 85%;}
    100% {right: 20%;}
}

/*Esercizio 13*/
.ex-13-button:hover .ex-13-top-white {
    animation-name: leftobottom ;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: rightotop;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

@keyframes leftobottom{
    0% {left: 10%;}
    50% {left: 100%; right: 0;}
    100% {translate: 0 55px; left: 100%;}
}

@keyframes rightotop{
    0% {right: 20%;}
    50% {right: 100%;left: 10;}
    100% {translate: 0 -55px; right: 100%;}
}